[submodule "Navigatorx"]
	path = Navigatorx
	url = https://github.com/lintang-b-s/Navigatorx
    branch = main
[submodule "osrm-backend"]
	path = osrm-backend
	url = https://github.com/Project-OSRM/osrm-backend
    branch = master
[submodule "navigatorx-crp-fe"]
	path = navigatorx-crp-fe
	url = git@github.com:lintang-b-s/navigatorx-crp-fe.git
	branch = main



